.footer {
  background: hsl(249, 84%, 38%);
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 16px;
  position: relative;
  bottom: 0;
  width: 100%;
  border-radius: 30px;
}

.footer_content p {
  margin: 5px 0;
}

.footer_content a {
  color: #00bcd4;
  text-decoration: none;
  font-weight: bold;
}

.footer_content a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
  .footer {
    font-size: 14px;
    padding: 10px 0;
  }
}
